.greeting {
}

.statistics {
    margin-top: 20px;
}

.statTitle {

}

.statisticsBlock {
    margin-top: 20px;
}

.cardPlaceholder {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: var(--inverted-primary-color);
    box-shadow: 0 0 50px 2px var(--primary-color) inset
}
