.wrapper {
    position: relative;
}

.content {
    width: 100%;
    flex-basis: 70%;
    padding: 15px;
    background: lightblue;
    border-radius: 10px;
}

.tabs {
    position: sticky;
    top: 0;
    flex-basis: 30%;
}
