:root {
    --bg-color: #DEFCF9;
    --inverted-bg-color: #48466D;

    // текст
    --primary-color: #3D84A8;
    --inverted-primary-color: #c27b57;

    // вторичный цвет
    --secondary-color: #275594;
    --inverted-secondary-color: #b7b992;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;
    --listox-bg: #8ca3c2;
}
